html {
  background-color: #28004e;
}

#project_title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
  color:azure
}

a {
  color: inherit
}

#header_wrap {
  background: linear-gradient(to top, hsl(271, 100%, 50%), #28004e);
  color: azure;
  width: 100%;
}

#header_wrap > .inner {
  margin-inline: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 640px;
  padding-inline: 50px;
}

#footer_wrap {
  background-color: #28004e;
  color: azure;
  width: 100%;
}

#footer_wrap > .inner {
  margin-inline: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 640px;
  padding-inline: 50px;
}

#main_content_wrap {
  width: 100%;
}

#main_content_wrap > .inner {
  background-color: white;
  width: 640px;
  margin-inline: auto;
  padding-inline-start: 50px;
  min-height: 20em;
  padding-bottom: 50px;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: azure;
}

.img_container {
  display: flex;
  justify-content: center;
}

img {
  padding: 30px;
  max-width: 20em;
}